<%= require('./common/header.ejs')({
  htmlWebpackPlugin: htmlWebpackPlugin,
}) %>

<div class="lowcode-iframe">lowcode-iframe html</div>


<%= require('./common/footer.ejs')({
  htmlWebpackPlugin: htmlWebpackPlugin,
}) %>
