<%= require('./common/header.ejs')({
  htmlWebpackPlugin: htmlWebpackPlugin,
}) %>

<div class="lowcode-page">
  <iframe class="lowcode-iframe-container" src="./lowcode-iframe.html" frameborder="0"></iframe>
  <div class="drag-target-container">
    <div class="drag-target" draggable="true">
      drag-target
    </div>
  </div>
</div>



<%= require('./common/footer.ejs')({
  htmlWebpackPlugin: htmlWebpackPlugin,
}) %>


