body {
  display: block;

  background-color: #ccc;
}

:root {
  --color1: red;
}

.test-css {
  display: flex;

  width: 100px;
  height: 100px;

  transform: rotate(45deg);

  border-radius: 50%;
  background-image: url(../../imgs/1.jpg);
}

.color1 {
  padding-top: 0;

  color: var(--color1);
}

@supports (padding-top: env(safe-area-inset-top)) {
  .color1 {
    padding-top: env(safe-area-inset-top);
  }
}
