* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  width: 100%;
  height: 100%;
}

body {
  // display: block;
  transition: opacity .2s ease-in;

  opacity: 1;
  // background-color: #ccc;
}

:root {
  --color1: red;
}

.test-css {
  display: flex;

  width: 100px;
  height: 100px;

  transform: rotate(45deg);

  border-radius: 50%;
  background-image: url(../../imgs/1.jpg);
}

.color1 {
  padding-top: 0;

  color: var(--color1);
}

@supports (padding-top: env(safe-area-inset-top)) {
  .color1 {
    padding-top: env(safe-area-inset-top);
  }
}


.svg-icon {
  overflow: hidden;

  width: 1em;
  height: 1em;

  vertical-align: -.15em;

  fill: currentColor;
}
