@import '../../common/css/index.scss';

.lowcode-page {
  .drag-target-container {
    padding: 20px;
  }
  .drag-target {
    display: table-cell;

    width: 200px;
    height: 100px;

    text-align: center;
    vertical-align: middle;

    border: 1px solid blue;
  }
}
